container{
    max-width: 960px;
    margin: 0 auto;
}
    p {
      font-family: 'Manrope', sans-serif;
    }
    strong{font-weight:700;}

    h1 {
      font-size: 50px;
      font-family: 'McLaren', cursive;
      text-align: center;
    }
    
    h2{width:100%;
    border-bottom:2px solid #000;
    line-height:0.1em;
    margin:40px 0px 20px!important;}
    
    h2 span{background:#fff;
    padding:0 10px 10px 0px;}

    h3{font-size:20px;
    font-weight:700;}
   
    h2,
    h3 {
      font-family: 'Manrope', sans-serif;
      margin-top: 20px;
    }

    .nav {
      margin-top: 20px;
      margin-bottom: 40px;
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
    }
    
    a {
      color: #96999c;
    }
    
    .celeb{
      font-size:20px;
      font-weight:700;
      font-family: 'Manrope', sans-serif;
    }

footer{
   font-size:12px;
   padding:20px 0px;
   background-color:#E2E2E2;
   text-align:center;
   margin-top: 40px;
   clear:both;
}

footer a{
   color:#484747;
   font-weight:700;
}
 footer p{
    margin:0 auto;
    width:80%;
}
.container{
   max-width:960px;
   margin:0 auto;
}

.grumpy-home{
   max-width: 350px;
    float: left;
    padding-right: 20px;
   padding-bottom:10px;
}

.vintage{
  width:100%;
}

.learn-more{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #343a40;
}

.learn-more li{
  list-style-type: none;
}

.learn-more a{
  color:black;
  font-size: 24px;
  line-height: 34px;
}

.learn-more h3{
  font-size:28px;
  padding:0px 20px;
  color:#0576a9;
}

ul.nav.flex-column{
  width:30%;
  float:left;
}

.celebs{
  width:60%;
  float:right;
}